@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

/* Startup intro */
.intro .banner{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.intro h1{
  font-size: 50px;
  text-shadow: 2px 2px #000000;
}

@media (max-width: 924px) {
  .intro h1 {
    font-size: 30px;
  }
}

/* Splash screen */
.intro{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #4d4a56;
  transition: 1s;
}

.banner-header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.banner{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.banner.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.banner.fade{
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/* Tooltip */
.tooltip > .tooltip-inner {
  background-color: #121833;
  color: #f3f3f3;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  border: 2px solid black; 
  padding: 10px;
  font-size: 18px;
}


.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #4d4a56;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	background: white;
	border: 2px solid black;
	transition: 500ms ease-in-out;
}

button:hover {
	box-shadow: 20px 5px 0 rgb(109, 84, 124), -20px -5px 0 rgb(113, 84, 138);
}

button:focus {
	outline: none;
}

